@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: Quicksand, sans-serif;
    background-color: #424242;
}

/*calendar Container*/
#calendarContainer {
    top: 5%;
    left: 5%;

    position: fixed;

    width: 50%;
    height: 90%;

    border-radius: 5px;
}

#headerContainer {
    position: relative;
    bottom: 0;

    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 10%;

    border-radius: 5px;

    background-color: #424242;
}

#month {
    font-size: 50px;
    font-weight: bold;
    color: #EEEEEE;
}

#year {
    font-size: 30px;
    font-weight: 600;
    color: #AAAAAA;
}

#timeContainer {
    padding: 0px 10px 0px 0px;

    font-size: 25px;
    font-weight: 600;

    display: flex;
    justify-content: right;

    color: #AAAAAA;
}

#btnContainer {
    display: flex;
}

#backBtn, #nextBtn {
    padding: 10px;
}

#gridContainer {
    position: relative;

    margin-top: 5%;

    height: 70%;
    
    border-radius: 5px;
    background-color: #424242;
}

#weekdays {
    position: relative;

    height: 10%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    text-align: center;
}

#weekname {
    margin: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: large;

    border-radius: 5px;

    background-color: #FFB200;
}

#days {
    position: relative;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    text-align: center;
}

.day {
    margin: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;

    color: #EEEEEE;
    background-color: #323232;
}

.day:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#currentDay {
    color: #FFB200;
}

.selectedDay {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/*event container*/
#eventContainer {
    top: 5%;
    right: 5%;
    
    position: fixed;
    
    width: 35%;
    height: 90%;
    overflow-y: hidden;
}

#eventHeader {
    position: relative;

    width: fit-content;

    font-size: 25px;
    font-weight: bold;

    padding-left: 20px;
    padding-right: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 5px;

    color: #323232;
    background-color: #FFB200;
}

#todaysEventsContainer {

    margin-top: 5%;
    padding-top: 20px;
    padding-bottom: 20px;

    padding-right: 40px;
    padding-left: 40px;
    
    font-size: 30px;

    border-radius: 5px;

    color: #FFB200;
    background-color: #323232;
}

#todaysEvent {
    font-size: 20px;

    height: 20vh;
    overflow-y: scroll;

    border-radius: 5px;
}

#upcomingEventsContainer {
    margin-top: 5%;
    padding-top: 20px;
    padding-bottom: 20px;

    padding-right: 40px;
    padding-left: 40px;
    
    font-size: 30px;

    border-radius: 5px;

    color: #FFB200;
    background-color: #323232;
}

#upcomingEvents {
    font-size: 20px;

    height: 20vh;
    overflow-y: scroll;

    border-radius: 5px;
}

.title { 
    grid-area: title;
    font-weight: bold;
}
.date { 
    grid-area: date;
    font-weight: 50;
}
.deleteBtn {
    grid-area: deleteBtn;

    background-image: url('Images/deleteBtn.svg');
    background-size: cover;
    background-color: #424242;
    
    width: 20px;
    height: 25px;

    display: flex;
    justify-content: space-around;

    margin-top: auto;
    margin-bottom: auto;

    border: none;
}

.deleteBtn:hover {
    background-image: url('Images/deleteBtnHover.svg');
}

.eventItem {
    display: grid;
    grid-template-areas: 
    'title deleteBtn'
    'date delteBtn';
    grid-template-columns: 90% 10%;

    margin-top: 20px;
    margin-bottom: 20px;

    padding-top: 15px;
    padding-bottom: 15px;

    padding-left: 20px;
    padding-right: 20px;

    font-weight: 100;

    border-radius: 5px;

    /*display: flex;
    justify-content: space-between;*/

    color: #EEEEEE;
    background-color: #424242;
}

#addEvent {
    margin-top: 5%;

    height: fit-content;

    padding-left: 40px;
    padding-right: 40px;

    padding-top: 20px;
    padding-bottom: 20px;

    
    display: flex;
    justify-content: space-between;
    font-size: 30px;

    border-radius: 5px;
    background-color: #323232;
}

#addEventInput {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;

    font-size: 15px;
    letter-spacing: 1px;
    background-color: #424242;
}

#addEventInput:focus {
    outline: none;
    color: #EEEEEE;
}



#addEventBtn {
    background-image: url('Images/addBtn.svg');
    background-size: cover;
    background-color: #424242;
    
    width: 30px;
    height: 30px;

    margin-top: auto;
    margin-bottom: auto;

    border: none;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #323232;
    
}

::-webkit-scrollbar-thumb{
    background-color: #FFB200;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    body {
        display: none;
    }
}